{% extends 'base.html' %}
 {% block bar %}
    <div class="col-md-9"style="justify-content: flex-end;">
          <h1 class="page-header">图书管理页面</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">删除作者<i class="fa fa-thumb-tack pull-right"></i></div>
            <div class="panel-bady">
                                    <!-
            </div>

      </div>
    </div>

 {% endblock %}
{% block main %}
<form action="" , method="POST">
    {% csrf_token %}
    <p>
        <input type="hidden", name="id" value="{{ author_obj.id }}">

    </p>
    <p>
        作者姓名: {{ author_obj.name }}
    </p>
    <p>
        作者地址: {{ author_obj.address}}
    </p>
    <p>
        <button type="submit" class="btn">删除</button>

        <a href="/app01/author_list/">取消删除</a>
    </p>


</form>


{% endblock %}