{% extends 'base.html' %}
 {% block bar %}
    <div class="col-md-9"style="justify-content: flex-end;">
          <h1 class="page-header">图书管理页面</h1>
      <div class="panel panel-primary">
        <div class="panel-heading">修改图书信息<i class="fa fa-thumb-tack pull-right"></i></div>
            <div class="panel-bady">
                                    <!-
            </div>

      </div>
    </div>

 {% endblock %}

{% block main %}
<form action="" , method="POST">
    {% csrf_token %}
    <p>
        <input type="hidden", name="id" value="{{ book_obj.id }}">
    </p>
    <p>
        图书名称<input type="text", name="book_name" value="{{ book_obj.book_name }}">
    </p>
    <p>
        图书作者<input type="text", name="author" value="{{ book_obj.author }}">
    </p>
    <p>
        图书出版社<input type="text", name="publisher" value="{{ book_obj.publisher }}">
    </p>
        <p>
        图书出版时间<input type="text", name="book_put_on" value="{{ book_obj.book_put_on }}">
    </p>
        <p>
        图书出版价格<input type="text", name="price" value="{{ book_obj.price }}">
    </p>
        <p>
        图书评分<input type="text", name="score" value="{{ book_obj.score }}">
    </p>
        <p>
        评论人数<input type="text", name="comment_num" value="{{ book_obj.comment_num }}">
    </p>
    <p>
        <button type="submit" class="btn">提交</button>
    </p>



</form>

{% endblock %}